<link href="/static/bootstarp/css/img.css" rel="stylesheet">

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>Blog Template for Bootstrap</title>
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">  
    </head>
    <body>
        <div >
            {% for i in list %}
                <div style="margin-top:20px;float: left;margin-left: 20px;height: 500px;">                 
                    <img src={{ i.img }} /><br>
                    <h1 style="margin-top: 5px;text-align: center;font-size: 20px">{{ i.title }}</h1>    
                </div>
                
            {% endfor %}
        </div>
    </body>
</html>