<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>Blog Template for Bootstrap</title>
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">  
    </head>
    <body>
        {% for line in lists %}
            <div style="margin-left:15%">
            
                <h2>标题：{{ line.title }}</h2>
                <h2>价格：{{ line.price }}</h2>
            </div>
        {% endfor %}
    </body>
</html>